.mainContainer{
  display: flex;
}

.listItems{
  margin:10px;
  font-size: 12px;
}

.activelistItems{
  font-weight:600;
  margin:10px;
  font-size: 12px;
}

.profileImage{
  height: 200px;
  width: 200px;
}

.profileName{
  font-size:20px;
  font-weight:600;
  margin-top:20px
}
.profileLink{
  font-size:16px;
  font-weight:300;
}

.profileBio{
  margin:10px 0px;
  font-size: 12px;
}
.profileDesc{
  font-size: 12px;
}

.repoName{
  color: blue;
  font-size:20px;
}

.repoDesc{
  margin:10px 0px;
  font-size:14px;
}

.repoLanguage{
  margin:10px 0px;
  font-size:12px;
}

.marginLeft20{
  margin-left: 20px;
}

.repoContainer{
  margin:10px 0px;
  border-bottom: 1px solid grey;
}